@{
    ViewData["Title"] = "Home Page";
}

<form action="../Yahoo/Index">
    <label for="birthday">Odaberite datum:</label>
    <input type="date" name="datum">
    <input type="submit" class="btn btn-success" value="Odaberite" />
</form>
